<div class="topo-matrix">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter name"
                       ng-model="topoMatrixCtrl.topoMatrix.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="distance">Distance</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" id="distance" placeholder="Enter distance"
                       ng-model="topoMatrixCtrl.topoMatrix.distance">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="from">From</label>

            <div class="col-sm-10">
                <input step="0.1" type="number" class="form-control" id="from" placeholder="Enter from value"
                       ng-model="topoMatrixCtrl.range[0]"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="to">To</label>

            <div class="col-sm-10">
                <input step="0.1" type="number" class="form-control" id="to" placeholder="Enter to value"
                       ng-model="topoMatrixCtrl.range[1]"/>
            </div>
        </div>
    </form>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="topoMatrixCtrl.fitInPage" ng-change="topoMatrixCtrl.setFitInPage()">Fit in page
        </label>
    </div>

    <div>{{topoMatrixCtrl.range}}</div>

    <div range='topoMatrixCtrl.range'
         no-ui-slider='topoMatrixCtrl.sliderOptions'
         on-range-change="topoMatrixCtrl.calculateMatrixImageData()"></div>

    <matrix-image matrix-image-data='topoMatrixCtrl.matrixImageData'
                  matrix-size='topoMatrixCtrl.topoMatrix.data.value.length'
                  ng-class="{'fit-in-page': topoMatrixCtrl.fitInPage}"></matrix-image>

    <button class="btn btn-primary" ng-click="topoMatrixCtrl.save()">Save topo matrix</button>
    <a class="btn btn-link" ui-sref="app.topo-matrices">Back to topo matrices list</a>
</div>