<div class="container topo-matrices">
    <div class="row">
        <div class="bs-callout bs-callout-primary">
            <h4>About</h4>
            <p>
                Here is the tool which you can use for statistical analysis of different images (originally for AFM topography
                images).
            </p>

            <p>
                Images should be uploaded in ASCII files, which for example can be produced by <a href="http://gwyddion.net/">Gwyddion</a>.
                Top menu will guide you in uploading your matrix, choosing best filter for your image and adjusting threshold in
                the filtered image for finding objects which have to be analyzed.
                Than you can download information about lateral sizes (in pixels), height (difference between base plane and
                maximum of object contrast) and nearest neighbor.
                To know better about program please read <a href="http://link.springer.com/article/10.1134%2FS106378261307021X">Statistical
                analysis of AFM topographic images of self-assembled quantum dots</a> by
                Sevriuk, V.A. and Brunkov, P.N. and Shalnev, I.V. and Gutkin, A.A. and Klimko, G.V. and Gronin, S.V. and
                Sorokin, S.V. and Konnikov, S.G. Semiconductors, Volume 47, 2013.
            </p>

            <p>
                If you used this program please cite this paper and also give the acknowledgement to
                <a href="mailto:YankovskyAndrey@gmail.com">A. V. Yankovsky</a>.
            </p>
        </div>

        <div class="bs-callout bs-callout-default">
            <h4>Topo matrices upload</h4>
            <pre class="pre-line">
                Uploaded topo matrices should be in following format:
                1&#09;2&#09;3
                0&#09;0&#09;0
                -3&#09;2&#09;10
                Notice, that "tab" character is used as column delimiter and '.' dot character is used as decimal mark
            </pre>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="tm in topoMatricesCtrl.topoMatrices"
                ng-class="{active: topoMatricesCtrl.isSelected(tm)}">
                <span class="title">{{::tm.name}}</span>

                <div class="btn-group pull-right">
                    <a class="btn btn-default" ui-sref="app.topo-matrix({id: tm._id})">Edit</a>
                    <button class="btn btn-default" ng-click="topoMatricesCtrl.select(tm)"
                            ng-if="!topoMatricesCtrl.isSelected(tm)">Select
                    </button>
                    <button class="btn btn-default" ng-click="topoMatricesCtrl.destroy(tm)">Delete</button>
                </div>
            </li>
        </ul>

        <div class="btn-group">
            <button class="btn btn-default" ngf-select ngf-change="topoMatricesCtrl.upload($files)">Upload topo matrix
                from file
            </button>
        </div>
    </div>
</div>