<div class="topo-matrix">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter name"
                       ng-model="topoMatrixCtrl.topoMatrix.name">
            </div>
        </div>
    </form>


    {{topoMatrixCtrl.range}}
    <div ng-model='topoMatrixCtrl.range'
         no-ui-slider='topoMatrixCtrl.sliderOptions'
         no-ui-slider-events='topoMatrixCtrl.sliderEvents'></div>

    <button class="btn btn-primary" ng-click="topoMatrixCtrl.save()">Save topo matrix</button>
    <a class="btn btn-link" ui-sref="app.topo-matrices">Back to topo matrices list</a>
</div>