<ul>
    <li role="presentation" ng-repeat="fm in filterMatricesCtrl.filterMatrices" ng-class="{active: filterMatricesCtrl.isSelected(fm)}">
        <a ui-sref="filter-matrix({id: fm._id})">{{fm.name}}</a>

        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="filterMatricesCtrl.clone(fm)">Copy</button>
            <button type="button" class="btn btn-default" ng-click="filterMatricesCtrl.select(fm)" ng-if="!filterMatricesCtrl.isSelected(fm)">Select</button>
            <button type="button" class="btn btn-default" ng-click="filterMatricesCtrl.remove(fm)">Delete</button>
        </div>
    </li>
</ul>
<div class="btn-group">
    <button class="btn btn-default" ngf-select ngf-change="filterMatricesCtrl.upload($files)">Upload filter matrix from file</button>
    <button type="button" class="btn btn-default" ng-click="filterMatricesCtrl.create()">Create new filter matrix</button>
</div>
<ui-view></ui-view>