.pre-line {
    white-space: pre-line
}

.noUi-base {
    background: #000;
}

.noUi-target {
    margin: 15px;
}

canvas {
    display: block;
    margin: 15px 0;
}

.fit-in-page canvas {
    width: 100%;
}

.topo-matrices .title {
    line-height: 35px;
}

.filter-matrices .title {
    line-height: 35px;
}

.filter-matrix .cell-value {
    width: 100%;
}

.filter-matrix .input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.new-topo-matrix .no-slider {
    margin-top: 67px;
}

.new-topo-matrix canvas {
    width: 100%;
}