.topo-matrices .title {
    line-height: 35px;
}

.fit-in-page canvas {
    width: 100%;
}

.filter-matrices .title {
    line-height: 35px;
}

.filter-matrix .cell-value {
    width: 100%;
}

.filter-matrix .input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.pre-line {
    white-space: pre-line
}

.noUi-base {
    background: #000;
}

.new-topo-matrix canvas {
    width: 100%;
}