.pre-line {
    white-space: pre-line
}

.noUi-base {
    background: #000;
}

.noUi-target {
    margin: 15px;
}

canvas {
    display: block;
}

.matrix-container {
    margin-bottom: 10px;
}

.fit-in-page canvas {
    width: 100%;
}

.topo-matrices .title {
    line-height: 35px;
}

.filter-matrices .title {
    line-height: 35px;
}

.filter-matrix .cell-value {
    width: 100%;
}

.filter-matrix .input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.new-topo-matrix .no-slider {
    margin-top: 10px;
}

.new-topo-matrix.horizontal-layout .no-slider {
    margin-top: 82px;
}

.new-topo-matrix.horizontal-layout canvas {
    width: 100%;
}

.matrix-image-with-markers {
    position: relative;
}

.matrix-image-blobs-container {
    position: relative;
    list-style: none;
    margin: 0;
}

.matrix-image-blobs-container .blob {
    position: absolute;
    border: 1px solid magenta;
    box-sizing: content-box;
}

.matrix-image-blobs-container .blob:hover {
    border: 5px solid cyan;
    margin: -5px -5px;
    z-index: 1;
}

.matrix-image-blobs-container .blob .statistics {
    display: none;
    background: #ddd;
    width: 220px;
}

.matrix-image-blobs-container .blob:hover .statistics {
    display: block;
}

dl {
    width: 100%;
    overflow: hidden;
}
dt {
    float: left;
    width: 50%;
}
dd {
    float: left;
    width: 50%;
}

/*var scaleX = canvas.width / window.innerWidth;*/
/*var scaleY = canvas.height / window.innerHeight;*/
/*var scaleToFit = Math.min(scaleX, scaleY);*/

/*stage.style.transformOrigin = "0 0";*/
/*stage.style.transform = "scale("+scaleToFit+")";*/