<div class="new-topo-matrix"
     ng-class="{'container-fluid horizontal-layout': newTopoMatrixCtrl.horizontalLayout, 'container': !newTopoMatrixCtrl.horizontalLayout}">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="newTopoMatrixCtrl.horizontalLayout"
                   ng-change="topoMatrixCtrl.setHorizontalLayout()">Horizontal layout
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="newTopoMatrixCtrl.findBlobsDynamically"
                   ng-change="newTopoMatrixCtrl.setFindBlobsDynamically()">Find blobs dynamically
        </label>
    </div>

    <input type="number" class="form-control"
           ng-model="newTopoMatrixCtrl.blobAreaExpansion"
           ng-change="newTopoMatrixCtrl.calculateTopoBlobs()"/>

    <button class="btn btn-primary"
            ng-if='!newTopoMatrixCtrl.findBlobsDynamically'
            ng-click="newTopoMatrixCtrl.findBlobs()">Find blobs</button>
    <button class="btn btn-primary"
            ng-click="newTopoMatrixCtrl.calculateStatisticsForAllBlobs()">Calculate statistics for all points</button>
    <button class="btn btn-primary"
            ng-click="newTopoMatrixCtrl.exportStatistics()">Export</button>

    <div ng-class="{'row-fluid': newTopoMatrixCtrl.horizontalLayout, 'row': !newTopoMatrixCtrl.horizontalLayout}">
        <div class='matrix-container' ng-class="{'col-md-4': newTopoMatrixCtrl.horizontalLayout}">
            <matrix-image-slider matrix="::newTopoMatrixCtrl.topoMatrix"
                                 on-range-change="newTopoMatrixCtrl.calculateTopoMatrixImageData()"></matrix-image-slider>
            <ul class="matrix-image-blobs-container">
                <li class='blob'
                    ng-mouseenter="newTopoMatrixCtrl.calculateStatisticsForBlob(blob)"
                    ng-repeat="blob in newTopoMatrixCtrl.topoBlobs"
                    ng-style="::blob">
                    <dl class="statistics">
                        <dt>X</dt>
                        <dd>{{::blob.center.x}}</dd>
                        <dt>Y</dt>
                        <dd>{{::blob.center.y}}</dd>
                        <dt>Width</dt>
                        <dd>{{::blob.realWidth}}</dd>
                        <dt>Height</dt>
                        <dd>{{::blob.realHeight}}</dd>
                        <dt>Max difference</dt>
                        <dd>{{::blob.maxDifference}}</dd>
                        <dt ng-if="blob.distanceToNearestNeighbor">Neighbor</dt>
                        <dd>{{::blob.distanceToNearestNeighbor}}</dd>
                    </dl>
                </li>
            </ul>
            <matrix-image matrix-image-data="newTopoMatrixCtrl.topoMatrixImageData"></matrix-image>
        </div>

        <div class='matrix-container' ng-class="{'col-md-4': newTopoMatrixCtrl.horizontalLayout}">
            <matrix-image-slider matrix="::newTopoMatrixCtrl.newTopoMatrix"
                                 on-range-change="newTopoMatrixCtrl.calculateNewTopoMatricesImagesData()"></matrix-image-slider>
            <ul class="matrix-image-blobs-container">
                <li class='blob'
                    ng-repeat="blob in newTopoMatrixCtrl.newTopoBlobs"
                    ng-style="::blob">
                </li>
            </ul>
            <matrix-image matrix-image-data="newTopoMatrixCtrl.grayscaleNewTopoMatrixImageData"></matrix-image>
        </div>

        <div class='matrix-container no-slider' ng-class="{'col-md-4': newTopoMatrixCtrl.horizontalLayout}">
            <ul class="matrix-image-blobs-container">
                <li class='blob'
                    ng-repeat="blob in newTopoMatrixCtrl.newTopoBlobs"
                    ng-style="::blob">
                </li>
            </ul>
            <matrix-image matrix-image-data="newTopoMatrixCtrl.blackWhiteNewTopoMatrixImageData"></matrix-image>
        </div>
    </div>

    <table class="table table-bordered" ng-if="newTopoMatrixCtrl.topoBlobs[0].distanceToNearestNeighbor">
        <tr>
            <th>#</th>
            <th>X</th>
            <th>Y</th>
            <th>Width</th>
            <th>Height</th>
            <th>Max difference</th>
            <th>Neighbor</th>
        </tr>
        <tr ng-repeat="blob in newTopoMatrixCtrl.topoBlobs">
            <td>{{$index + 1}}</td>
            <td>{{::blob.center.x}}</td>
            <td>{{::blob.center.y}}</td>
            <td>{{::blob.realWidth}}</td>
            <td>{{::blob.realHeight}}</td>
            <td>{{::blob.maxDifference}}</td>
            <td>{{::blob.distanceToNearestNeighbor}}</td>
        </tr>
    </table>
</div>